/**
 * Tabs
 */
details {
    transition:
        0.2s ease border-color,
        0.2s ease background-color;

    position: relative;

    margin: 1em -10px 0 -10px;

    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
}
details[open] {
    background-color: transparent;
}

details > summary {
    transition: 0.2s ease color;

    display: flex;
    gap: 0.4em;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 10px;

    list-style: none;
    font-size: larger;
    font-weight: bolder;

    cursor: pointer;
    user-select: none;
    background-color: #dbdbdb;
}
details > summary::marker {
    display: none;
}
details > summary::after {
    transition: 0.2s ease transform;

    padding: 0 0.3418em;

    content: '>';

    text-align: center;
}
details[open] > summary {
    border-bottom: 1px solid #a3a3a3;
}
details[open] > summary::after {
    transform: rotate(90deg);
}

details > summary > h2 {
    margin: 0;

    line-height: inherit;
    font-size: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
details[open] > summary > h2 {
    white-space: normal
}

details > div {
    padding: 10px;
}

details > div > br:first-child,
details > div > br + br,
details > div > br:nth-last-child(2),
details > div > b:empty {
    display: none;
}

/**
 * Dialog
 */
dialog {
    --border: #a3a3a3;

    margin: auto 100px;
    padding: 0;

    border: 1px solid var(--border);
    background-color: #eee;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}
dialog[open] {
    animation: 0.4s ease dialog_open;
}
@keyframes dialog_open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

dialog#MODULE_SHIPPING_GRANDELJAYDHL_SHIPPING_NATIONAL_COSTS {
    --columns: 2;
}

dialog#MODULE_SHIPPING_GRANDELJAYDHL_SURCHARGES {
    --columns: 5;
}

dialog .modulbox {
    width: auto;
    max-width: 800px;
    margin: 0;
}

dialog .modulbox .contentTable,
dialog .modulbox .contentTable:last-child {
    border: none;
}
dialog .modulbox .contentTable:first-child {
    border-bottom: 1px solid var(--border);
}
dialog .modulbox .contentTable:last-child {
    margin-bottom: 0;
}

dialog .modulbox td.infoBoxContent {
    padding: 0 !important;
}
dialog .modulbox td.infoBoxContent > .container {
    max-height: 60vh;
    padding: 4px 10px;

    overflow: auto;
}

/** Rows */
dialog .row {
    display: flex;
    gap: 4px 10px;
    justify-content: space-between;
    margin-bottom: 0.8em;
}
dialog .row:last-child {
    margin-bottom: 0;
}

/** Columns */
dialog .row > .column {
    --columnWidth: calc(100% / var(--columns));

    flex: 1 1 var(--columnWidth);

    display: flex;
    gap: 4px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

/** Inputs */
dialog input[type="number"] {
    width: 100%;
    padding: 6px 4px;

    box-sizing: border-box;

    color: #000;
    background-color: #fafafa;
    border-color: #c6c6c6 #dadada #eaeaea;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}
dialog .modulbox .infoBoxContent :is(input, select) {
    --outline: 2px;

    width: 100% !important;
    height: 100%;
    flex: 1 1 auto;

    /** To avoid outline being cut-off on focus */
    margin: var(--outline);
}
dialog .modulbox .infoBoxContent :is(input.weight, input.cost) {
    text-align: right;
}
dialog .modulbox .infoBoxContent :is(input, select):focus-visible {
    outline-width: var(--outline);
}

/** Buttons */
dialog > .buttons {
    padding: 4px 10px;
}

dialog button {
    margin: 4px 4px 0 0;
    padding: 6px 15px;

    font-size: 10px;
    font-weight: bold;

    background-color: #444;
    border-radius: 4px;
    border: 1px solid #333;
    color: #ddd;
    vertical-align: middle;
    cursor: pointer;
}
dialog button[name="grandeljaydhl_add"] {
    width: 100%;
    margin: 0;
}
